{% extends 'base.html' %}
    {% block title %} Login Page {% endblock %}
    {% block content %}

    <div class="container">
        <h1>Log In</h1>
        <p class="lead"> Log into Flask Feedback App!</p>
        <form method="POST">
            {{form.hidden_tag()}}

            {% for field in form 
                if field.widget.input_type != 'hidden' %}
            <p>
                {{field.label}}
                {{field(class_='form-control')}}

                {% for error in field.errors%}
                <span class="form-text text-danger">{{error}}</span>
                {% endfor %}
            </p>
            {% endfor %}
            <button class="btn btn-success">Log In</button>
        </form>

    </div>

    {% endblock %}