{% extends 'base.html' %}
    {% block title %} Profile Page {% endblock %}
    {% block content %}

    <div class="container">
        <div class="card">
            <h5 class="card-header">Profile Details</h5>
            <div class="card-body">
              <h5 class="card-title">Username: {{user.username}}</h5>
              <p class="card-text">E-mail: {{user.email}}</p>
              <p class="card-text">First Name: {{user.first_name}}</p>
              <p class="card-text">Last Name: {{user.last_name}}</p>
              <form action='/users/{{user.username}}/delete' method="POST">
                <button class="btn btn-danger">Delete User</button>
              </form> 
            </div>
          </div>
    </div>

    <div class="container">
      <div class="card">
        <h5 class="card-header">{{user.username}}'s feedback</h5>
        <div class="card-body">
          {% for item in feedback %}
          <h5 class="card-title">{{item.title}}
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              
              <a href="/feedback/{{item.id}}/update" type="button" class="btn btn-warning btn-sm">Edit</a>
              <form action='/feedback/{{item.id}}/delete' method="POST">
                <button class="btn btn-danger btn-sm">Delete</button>
              </form>  
            </div>


          </h5>
          <p class="card-text">
            {{item.content}}
          </p>
          {% endfor %}
          <a href="/users/{{user.username}}/feedback/add" class="btn btn-info">Add Feedback</a>
        </div>
        
    </div>



    {% endblock %}