{% extends 'base.html' %}
    {% block title %} Update Feedback Page {% endblock %}
    {% block content %}

    <div class="container">
        
        <p class="lead"> Update Feedback!</p>

        <form method="POST">
            {{form.hidden_tag()}}

            {% for field in form 
                if field.widget.input_type != 'hidden' %}
                
            <p>
                {{field.label}}
                {{field(class_='form-control') }}
                


                {% for error in field.errors%}
                <span class="form-text text-danger">{{error}}</span>
                {% endfor %}
            </p>
            {% endfor %}
            <button class="btn btn-success">Update</button>
        </form>

    </div>

    {% endblock %}